<div class="slider-logos container mt-4">
    <section class="customer-logos slider d-flex">
            <div class="slide mr-3"><img src="assets/code.jpg" class="rounded-circle img-fluid" width="70px">
            </div>
            <div class="slide mr-3"><img src="assets/anubhav.jpg" class="rounded-circle img-fluid" width="70px"></div>
            <div class="slide mr-3"><img src="assets/hum.jpg" class="rounded-circle img-fluid" width="70px"></div>
            <div class="slide mr-3"><img src="assets/EC.jpg" class="rounded-circle img-fluid" width="70px">
            </div>
            <mat-icon class="mt-3" aria-hidden="false" aria-label="Example keyboard_arrow_right icon"
                fontIcon="keyboard_arrow_right">keyboard_arrow_right</mat-icon>
    </section>
</div>

<h2 class="fw-bold mt-5 ml-5">TODAY</h2>
<div class="container p-3">
    <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-12 mt-2">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail1.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>The best songs of KK(Playlist)</h3>
                    </div>
                    <div class="row">
                        <p>The Toxic Creation <br>
                            480 views : 15 hours ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail2.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>Valentine's 2023 lovesongs</h3>
                    </div>
                    <div class="row">
                        <p>ZeeMusic Company <br>
                            1M views : 2 years ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail3.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>Top 5 FrontEnd Projects</h3>
                    </div>
                    <div class="row">
                        <p>Anshika Gupta<br>
                            290k views : 4 years ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail4.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>India's NO.1 Crypto Exchange</h3>
                    </div>
                    <div class="row">
                        <p>RS Group<br>
                            717 views : 4 days ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail10.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>fareb Ep-10</h3>
                    </div>
                    <div class="row">
                        <p>Hum TV<br>
                            2M views : 2 days ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail9.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>Jira Workflow Tutorial</h3>
                    </div>
                    <div class="row">
                        <p>Code Step By Step<br>
                            295 views : 4 days ago</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail10.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>Fareb Ep-1</h3>
                    </div>
                    <div class="row">
                        <p>Hum TV<br>
                            2M views : 1 year ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail12.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>React Native Tutorial</h3>
                    </div>
                    <div class="row">
                        <p>Code Step By Step<br>
                            616 views : 2 days ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail6.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>Ramen Noodles Recipe</h3>
                    </div>
                    <div class="row">
                        <p>Kitchen Story<br>
                            170k views : 5 days ago</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<h2 class="fw-bold mt-5 ml-5">YESTERDAY</h2>
<div class="container p-3">
    <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-12 mt-2">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail12.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>React Native: Beginners</h3>
                    </div>
                    <div class="row">
                        <p>The Toxic Creation <br>
                            480 views : 15 hours ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail2.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>Valentine's 2023 lovesongs</h3>
                    </div>
                    <div class="row">
                        <p>ZeeMusic Company <br>
                            1M views : 2 years ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail3.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>Top 5 FrontEnd Projects</h3>
                    </div>
                    <div class="row">
                        <p>Anshika Gupta<br>
                            290k views : 4 years ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail9.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>Jira Workflow</h3>
                    </div>
                    <div class="row">
                        <p>Code tech<br>
                            146 views : 4 days ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail6.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>Ramen Recipe</h3>
                    </div>
                    <div class="row">
                        <p>Kitchen Place<br>
                            546 views : 10 days ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail10.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>Heema: Episode 4</h3>
                    </div>
                    <div class="row">
                        <p>Paramount Pictures<br>
                            14k views : 4 days ago</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail4.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>Mission Impossible-Dead Reckoning</h3>
                    </div>
                    <div class="row">
                        <p>Paramount Pictures<br>
                            14M views : 4 days ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail5.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>Kishore Kumar Hits: Ad Free</h3>
                    </div>
                    <div class="row">
                        <p>Ayush Paliwal<br>
                            1.9M views : 4 months ago</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 mt-3">
            <div class="card w-100" style="width: 18rem; border: none;">
                <img src="assets/thumbnail6.jpg" class="img-fluid card-img-top" alt="...">
                <div class="card-body">
                    <div class="row">
                        <h3>Ramen Noodles Recipe</h3>
                    </div>
                    <div class="row">
                        <p>Kitchen Story<br>
                            170k views : 1 months ago</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>